body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

.buttons {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.board {
    min-width: 500px;
    min-height: 500px;
    border: 2px solid black;
    display: grid;
}
